*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
ol{
    text-align: center;
    margin: 2em;
    list-style-type: none;
    border: 2px solid black;
    border-style:dashed;
    height: 500px;
    width: 600px;
    padding: auto;
    display: block;
    font-size: 3rem;
    border-radius:0 0 0 0;

    
}
a:hover{
    text-decoration: none;
}
h1{
    background-color: yellow;
    border-radius: 0 0 0 0;
}
li{
    border:1px solid brown;
}
li a,
li a:visited{
    text-decoration: none;
    color: blue;
}
li a:hover{
    color: black;
    background: blueviolet;
}
li a{
    display: block;
}
li a:last-child{
   border-radius: 0 0 0em 0em;

}